<h1>User Info</h1>

 <%= image_tag @user.get_profile_image(100,100) %>

  <p>name</p>
  <span><%= @user.name %></span>

  <p>introduction</p>
  <span><%= @user.introduction %></span>

  <%= link_to "edit", edit_user_path(@user.id) %>

<h2>Users</h2>
<table class="table table-striped">
   <thead>
      <tr>
        <th>image</th>
        <th>name</th>
        <th colspan="3"></th>
      </tr>
   </thead>
<% @users.each do |user| %>
   <tbody>
      <tr>
        <td>
          <% if user.profile_image.attached? %>
          <%= image_tag user.profile_image, size: "width,height" %>
          <% else %>
          <%= image_tag 'no_image.jpg', size: "width,height" %>
          <% end %>
        </td>
        <td><%= user.name%></td>
        <td><%= link_to "Show",user_path(user.id) %></td>
      </tr>
   </tbody>
   <% end %>
</table>